:root {
    --theme-01: #499EBF;
    --theme-02: #B8CCD9;
    --theme-03: #08004A;
    --font-primary: 'Roboto Slab', serif;
    --font-secundary: 'Satisfy', cursive;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--theme-03);
}


.main {
    height: 100vh;
}

.fog {
    height: 150px;
    z-index: 10;
}

.neblina {
    position: absolute;
    bottom: 0;
    width: 250em;
    z-index: 1;
    animation: rotationLeft 80s linear infinite;
}


.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    z-index: 10;
}

.main > .content-main >   .button-main {
    padding: 1em;
    background: var(--theme-03); 
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    font-weight: bold;
    margin: 2em;
    cursor: pointer;
    z-index: 10;
}

.main > .content-main > .button-main > .link-main {
    text-decoration: none;
    color: var(--theme-02);
    font-family: var(--font-primary);
}

.main > .content-main > .button-main:hover {
    border-top-left-radius: 0em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 1em;
    background: var(--theme-01);
    transition: 2s;
}

.main > .content-main > .button-main > .link-main:hover {
    color: var(--theme-03);
}

.main > .content-main > .tittle-main {
    font-size: 7em;
    font-family: var(--font-primary);
    font-weight: bolder;
    color: var(--theme-01);
    text-shadow: 1px 1px 2px #000;

}

.main > .content-main > .subtittle {
    font-size: 2em;
    font-family: var(--font-primary);
    font-weight: bold;
    color: var(--theme-02);
    text-shadow: 1px 1px 3px #000;
}

.main > .content-main > .description-main {
    text-align: center;
    color: var(--theme-02);
    font-family: var(--font-primary);
    font-weight: lighter;

}

.installation-section {
    height: 100vh;
}


.installation-section > .installation-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.installation-section > .keeping-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.installation-section > .tittle-installation {
    font-family: var(--font-primary);
    padding-top: 4em;
    color: var(--theme-02);
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 3px #000;
    text-align: center;
}

.installation-section > .installation-div > .setupimg {
    width: 249px;
    padding: 1em;
    border-radius: 20px;
}

.installation-section > .keeping-div > .keeping-img {
    width: 249px;
    padding: 1em;
    border-radius: 20px;
}

.installation-section > .installation-div > .description-setup {
    text-align: center;
    font-family: var(--font-primary);
    color: var(--theme-02);
    text-shadow: 1px 1px 3px #000;
    padding: 0em 2em 0em 3em;
}

.installation-section > .keeping-div > .description-keeping {
    text-align: center;
    font-family: var(--font-primary);
    color: var(--theme-02);
    text-shadow: 1px 1px 3px #000;
    padding: 0em 2em 0em 3em;
}

.infra-section {
   height: 100vh;

}

.infra-section > .tittle-infra {
    font-family: var(--font-primary);
    padding-top: 4em;
    color: var(--theme-02);
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 3px #000;
    text-align: center;
}

.infra-section > .description-infra {
    text-align: center;
    margin: 2em;
    font-family: var(--font-primary);
    color: var(--theme-02);
    text-shadow: 1px 1px 3px #000;
    line-height: 20pt;
    padding: 3em;
}

.footer  {
    text-align: center;
    padding-bottom: 1em;
}

.footer > .footer-text {
    font-family: var(--font-secundary);
    color: var(--theme-02);
    text-decoration: none;
}


@keyframes rotationLeft {
    0% {
        transform: translateZ(0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

@media screen and (max-width: 768px) {
    .content-main {
        padding-top: 4em;
    }

    .main > .content-main >   .button-main {
        padding: 1em;
        margin: 4em;
    }

    .main > .content-main > .tittle-main {
        font-size: 8em;
    }
    
    .main > .content-main > .subtittle {
        font-size: 1.8em;
    }
    
    .main > .content-main > .description-main {
        font-size: 0.9em;
    }

    .footer  {
        left: 18em;
        font-size: 1em;
    }

    .installation-section > .tittle-installation {
        font-size: 2em;
    }
    
    .installation-section > .installation-div > .setupimg {
        width: 210px;
    }
    
    .installation-section > .keeping-div > .keeping-img {
        width: 210px;
    }

    .infra-section > .tittle-infra {
        font-size: 2em;
    }
}

@media screen and (max-width: 628px) {
    .content-main {
        padding-top: 1em;
    }

    .main > .content-main >   .button-main {
        padding: 1em;
        margin: 2em;
    }

    .main > .content-main > .tittle-main {
        font-size: 4em;
    }
    
    .main > .content-main > .subtittle {
        font-size: 1.4em;
    }
    
    .main > .content-main > .description-main {
        font-size: 0.7em;
    }

    .installation-section > .tittle-installation {
        font-size: 1.2em;
    }

    .installation-section > .installation-div > .setupimg {
        width: 200px;
    }
    
    .installation-section > .keeping-div > .keeping-img {
        width: 200px;
    }

    .installation-section > .installation-div > .description-setup {
        padding: 0em 1em 0em 1em;
        font-size: 0.8em;
    }
    
    .installation-section > .keeping-div > .description-keeping {
        padding: 0em 1em 0em 1em;
        font-size: 0.8em;
    }

    .infra-section > .tittle-infra {
        padding-top: 20em;
        font-size: 1.3em;
    }
    
    .infra-section > .description-infra {
        margin: 0em;
        padding: 0em;
        font-size: 0.8em;
    }

    .footer  {
        position: absolute;
        left: 6.5em;
        bottom: 0px;
        font-size: 0.8em;
    }


}

@media screen and (max-width: 414px) {
    .content-main {
        padding-top: 2em;
    }

    .footer  {
        left: 10em;
        font-size: 0.8em;
    }

    .infra-section > .tittle-infra {
        padding-top: 4em;
        font-size: 1.3em;
    }
    
    .infra-section > .description-infra {
        padding: 0em 1em 0em 1em;
        font-size: 0.8em;
    }

}

@media screen and (max-width: 360px ) {
    .content-main {
        padding-top: 3em;
    }

    .footer  {
        left: 8em;
    }

}

@media screen and (max-width: 320px) {
    .content-main {
        padding-top: 0em;
    }

    .main > .content-main >   .button-main {
        padding: 0.7em;
        margin: 1em;
    }

    .main > .content-main > .tittle-main {
        font-size: 3em;
    }
    
    .main > .content-main > .subtittle {
        font-size: 1.4em;
    }
    
    .main > .content-main > .description-main {
        font-size: 0.7em;
    } 

    .footer  {
        left: 6em;
    }

    .installation-section > .tittle-installation {
        font-size: 1em;
    }
    
    .installation-section > .installation-div > .setupimg {
        width: 150px;
    }
    
    .installation-section > .keeping-div > .keeping-img {
        width: 150px;
    }

    .installation-section > .installation-div > .description-setup {
        padding: 0em 1em 0em 1em;
        font-size: 0.8em;
    }
    
    .installation-section > .keeping-div > .description-keeping {
        padding: 0em 1em 0em 1em;
        font-size: 0.8em;
    }

    .infra-section > .tittle-infra {
        padding-top: 20em;
        font-size: 1.3em;
    }
    
    .infra-section > .description-infra {
        margin: 0em;
        padding: 1em;
        font-size: 0.8em;
    }



}


/* @media screen and (min-width: 320px) {
    .fog {
        height: 80px;
        z-index: 10;
    }

    .content-main {
        padding-top: 0em;
    }

    .main > .content-main >   .button-main {
        padding: 0.3em;
        margin: 1em;
    }

    .main > .content-main > .tittle-main {
        font-size: 4em;
    }
    
    .main > .content-main > .subtittle {
        font-size: 1.4em;
    }
    
    .main > .content-main > .description-main {
        font-size: 0.7em;
    }

    .installation-section > .tittle-installation {
        font-size: 1.3em;
    }
    
    .installation-section > .installation-div > .setupimg {
        width: 200px;
    }
    
    .installation-section > .keeping-div > .keeping-img {
        width: 200px;
    }

    .infra-section > .tittle-infra {
        padding-top: 20em;
        font-size: 1.3em;
    }
    
    .infra-section > .description-infra {
        margin: 0em;
        padding: 1em;
        font-size: 0.8em;
    }

    .footer  {
        position: absolute;
        left: 6.5em;
        bottom: 0px;
        font-size: 0.8em;
    }
    
}

@media screen and (max-width: 360px) {
    .content-main {
        padding-top: 1em;
    }

    .main > .content-main >   .button-main {
        padding: 0.8em;
        margin: 1.5em;
    }

    .main > .content-main > .tittle-main {
        font-size: 6em;
    }
    
    .main > .content-main > .subtittle {
        font-size: 1.6em;
    }
    
    .main > .content-main > .description-main {
        font-size: 0.7em;
    }

    .footer  {
        left: 8em;
        font-size: 0.8em;
    }

    .installation-section > .tittle-installation {
        font-size: 1.2em;
    }
    
    .installation-section > .installation-div > .setupimg {
        width: 180px;
    }
    
    .installation-section > .keeping-div > .keeping-img {
        width: 180px;
    }

    .installation-section > .installation-div > .description-setup {
        padding: 0em 1em 0em 1em;
        font-size: 0.8em;
    }
    
    .installation-section > .keeping-div > .description-keeping {
        padding: 0em 1em 0em 1em;
        font-size: 0.8em;
    }

    .infra-section > .tittle-infra {
        padding-top: 1em;
        font-size: 1.2em;
    }
    
    .infra-section > .description-infra {
        margin: 0em;
        padding: 0em 1em 0em 1em;
        font-size: 0.8em;
    }




}

@media screen and (max-width: 412px) {
    .footer  {
        left: 10em;
        font-size: 0.8em;
    }

} */
